<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="navbar">
        <a href="login">Login</a>
        <a href="register">Register</a>
        <a href="logout">Log out</a>
    </div>
    {% block content %} {% endblock %}
</body>
