{% extends 'base.html' %}
{% block content %}
<p>Login</p>
<form action="/login" method="post">
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>
{% endblock %}

