{% extends 'base.html' %} {% block content %}
<p>
    Registration
</p>
<form action="/register" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>
{% endblock %}
